@font-face {
    font-family: 'Roboto_H2';
    src: url('../font/Roboto/Roboto-Thin.ttf');
    font-style: normal;
    font-weight: normal;
  }

  @font-face {
    font-family: 'Roboto_H3';
    src: url('../font/Roboto/Roboto-Light.ttf');
    font-style: normal;
    font-weight: normal;
  }

:root{
    --gray : rgb(216, 216, 216);
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto_H3';
}

h2{
    font-family: 'Roboto_H2';
    color: rgb(42, 141, 255);
    font-weight: 500;

}

p{
    color: rgb(0, 90, 192);
    font-weight: 400;

}

h3{
    font-family: 'Roboto_H3';
    font-weight: 500;

} 
.section{
    width: 90%;
    height: 85%; 
    margin: 20px 0 70px 0;
    /* background-color: rgb(32, 32, 32, .8); */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around; 
    
}

.section a{
    text-decoration: none;
}

.boxDevices{
    margin: 2px 0 2px 0;
    width: 150px;
    height: 150px;
    background-color: rgb(41, 41, 41);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.boxDevices i{
    color: var(--gray);
    font-size: 45px;
}

.boxDevices h3{
    color: var(--gray);
    font-size: 14px;
    margin-top: 15px;
}