extends ../layout/homeMain

block contenido

    div.section
        a(href="/luces")
            div.boxDevices
                i.fa-solid.fa-lightbulb
                h3 Luces
        a(href="/contactos")
            div.boxDevices
                i.fa-solid.fa-plug
                h3 Contactos
        a(href="/garage")
            div.boxDevices
                i.fa-solid.fa-warehouse
                h3 Garage
        a(href="/ac")
            div.boxDevices
                i.fa-solid.fa-snowflake
                h3 A/C
        a(href="/riego")
            div.boxDevices
                i.fa-solid.fa-cloud-rain
                h3 Riego
        a(href="/aguacaliente")
            div.boxDevices
                i.fa-solid.fa-fire-flame-curved
                h3 Agua Caliente
        a(href="/medidordeliquido")
            div.boxDevices
                i.fa-solid.fa-bottle-water
                h3 Medidor de Liquido
        div.boxDevices
    

        